<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>LoremIpsum Logística APP</span>
    <!-- <span></span>
    <div>
      <a mat-raised-button routerLink="getall-clients">teste</a>
      <a mat-raised-button routerLink="register-clients">teste2</a>
    </div> -->
  </mat-toolbar-row>
</mat-toolbar>


<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <app-tap-group-clients fxFlex="50"></app-tap-group-clients>
    <app- fxFlex="55"></app->
  </div>
</mat-card>

<!-- 
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span><a routerLink="">LoremIpsum Logística</a></span>
  <span></span>
  <div fxLayouGap="20px">
    <a mat-raised-button routerLink="clients" routerLinkActive="mat-accent">Clientes</a>
    <a mat-raised-button routerLink="addresses" routerLinkActive="mat-accent">Endereços</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet> -->