<form fxLayout="column" fxLayoutAlign="start stretch" #formAddress="ngForm">

    <h1 mat-dialog-title>Endereço</h1>
    <h3 mat-dialog-title>Cliente: {{clientName}}</h3>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
        <mat-radio-group fxFlex="45" fxLayout="row" [(ngModel)]="address.typeAddress" name="typeAddress" fxLayoutAlign="space-between start">
            <mat-radio-button value="Commercial" checked>Comercial</mat-radio-button>
            <mat-radio-button value="Residential">Residencial</mat-radio-button>
        </mat-radio-group>
        <mat-form-field fxFlex="35" appearance="legacy">
            <mat-label>CEP</mat-label>
            <input matInput type="number" min="11111111" max="99999999" minlength="8" maxlength="8" class="form-control" [(ngModel)]="address.zipCode" name="zipCode" #zipCodeField="ngModel" required>
            <mat-hint *ngIf="zipCodeField.invalid &&  (zipCodeField.touched || zipCodeField.dirty)" class="field-error">
                <p>Entre com o CEP somente os 8 numeros</p>
            </mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="15" appearance="legacy">
            <mat-label>UF</mat-label>
            <input matInput type="text" pattern="[A-Z]*" class="form-control" [(ngModel)]="address.state" name="state" #stateField="ngModel" required minlength="2" maxlength="2">
            <mat-hint *ngIf="stateField.invalid && (stateField.touched || stateField.dirty)" class="field-error">
                <p>Entre com o UF</p>
            </mat-hint>
        </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
        <mat-form-field fxFlex="65" appearance="legacy">
            <mat-label>Logradouro</mat-label>
            <input matInput class="form-control" [(ngModel)]="address.place" name="place" #placeField="ngModel" required>
            <mat-hint *ngIf="placeField.invalid && (placeField.touched || placeField.dirty)" class="field-error">
                <p>Entre com o Logradouro</p>
            </mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="25" appearance="legacy">
            <mat-label>Numero</mat-label>
            <input matInput type="number" class="form-control" [(ngModel)]="address.number" name="number" #numberField="ngModel" required>
            <mat-hint *ngIf="numberField.invalid && (numberField.touched || numberField.dirty)" class="field-error">
                <p>Entre com o Nº</p>
            </mat-hint>
        </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
        <mat-form-field fxFlex="45" appearance="legacy">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="address.complement" name="complement">
        </mat-form-field>
        <mat-form-field fxFlex="45" appearance="legacy">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="address.district" name="district">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button [mat-dialog-close]="address" [disabled]="!formAddress.valid" cdkFocusInitial>Save</button>
    </div>

</form>