<form fxLayout="column" fxLayoutAlign="start stretch" #formAddress="ngForm">

    <h1 mat-dialog-title>Endereço</h1>
    <h3 mat-dialog-title>Cliente: {{clientName}}</h3>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
        <mat-radio-group fxFlex="45" fxLayout="row" [(ngModel)]="address.typeAddress" name="typeAddress" fxLayoutAlign="space-between start">
            <mat-radio-button value="Commercial" checked>Comercial</mat-radio-button>
            <mat-radio-button value="Residential">Residencial</mat-radio-button>
        </mat-radio-group>
        <mat-form-field fxFlex="35" appearance="legacy">
            <mat-label>CEP</mat-label>
            <input matInput type="number" class="form-control" [(ngModel)]="address.zipCode" name="zipCode">
        </mat-form-field>
        <mat-form-field fxFlex="15" appearance="legacy">
            <mat-label>UF</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="address.state" name="state">
        </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
        <mat-form-field fxFlex="65" appearance="legacy">
            <mat-label>Logradouro</mat-label>
            <input matInput class="form-control" [(ngModel)]="address.place" name="place">
        </mat-form-field>
        <mat-form-field fxFlex="25" appearance="legacy">
            <mat-label>Numero</mat-label>
            <input matInput type="number" class="form-control" [(ngModel)]="address.number" name="number">
        </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
        <mat-form-field fxFlex="45" appearance="legacy">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="address.complement" name="complement">
        </mat-form-field>
        <mat-form-field fxFlex="45" appearance="legacy">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="address.district" name="district">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button [mat-dialog-close]="address" cdkFocusInitial>Save</button>
    </div>

</form>