<mat-tab-group dynamicHeight>
    <!-- #enddocregion dynamic-height -->
    <mat-tab label="Cadastro de Clientes e Endereço">
        <div class="example-large-box mat-elevation-z4">
            <app-register-clients></app-register-clients>
        </div>
    </mat-tab>
    <mat-tab label="Todos Clientes e Endereços">
        <div class="example-large-box mat-elevation-z4">
            <app-getall-clients></app-getall-clients>
        </div>
    </mat-tab>
    <mat-tab label="Buscar Clientes por Nome ou Sobrenome">
        <div class="example-large-box mat-elevation-z4">
            <app-search-by-name-clients></app-search-by-name-clients>
        </div>
    </mat-tab>
</mat-tab-group>